*{
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    grid-template-areas: 
    'header header header'
    'top top top'
    'med med med'
    'bot bot bot'
    'bot2 bot2 bot2'
    'footer footer footer';
}

.tittle{
display: flex;
grid-area: header;
background-color: #216fb1;
height: 40px;
color: white;
}

.tittle h3{
    align-self: center;
    margin: 0 auto;
    text-shadow: 10px 5px 5px black;
    font-size: 25px;
    
}

.top-container{
    display: flex;
    grid-area: top;
    flex-direction: column;
    background-color: #2c99a3;
    height: 250px;
    color: white;
    
}

.p1{
    font-weight: bold;
}

.p2{
    font-style: oblique;
    font-weight: bold;
    text-decoration: underline;
}

.top-container-top{
    align-self: center;
}

.top-container-top p{
    font-size: 35px;
    margin-top: 35px;
}

.top-container-bot{
    display: flex;
    align-self: center;
    color: black;
    gap: 5px;
}

.top-container-bot p{
    margin-top: 25px;
    max-width: 900px;
}

.p3{
    max-width: 570px;
}

.med-container{
    grid-area: med;
}

.med-container-top{
    display: flex;
    margin-top: 25px;
    justify-content: center;
}

.box-img img{
height: 250px;
border-radius: 10px;

}

.box-img{
    margin-left: 115px;
}

.box-text{
    display: flex;
    flex-direction: column;
    gap: 65px;
    margin-left: 155px;
}

.p4{
    align-self: center;
    margin-top: 55px;
    font-size: 23px;
    background-color: black;
    color: white;
    max-width: 500px;
    border-radius: 5px;
    height: 58px;
    text-align: center;
}

.p5{
    max-width: 500px;   
    
}

.line{
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 35px;
    max-width: 70%;
    border-top: 2px solid gray ;
}


.med-container-bot{
    display: flex;
    flex-direction: column;
    gap: 25px;    
}

.top-text{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.p6{
    color: #216fb1;
    font-size: 20px;
    font-weight: bold;
}

.p7{
    
    font-size: 11px;    
}

.box-card-container{
    display: flex;
    margin-top: 15px;
    justify-content: space-around;
    margin-bottom: 65px;
}

.box-top-general{
    max-width: 350px;
    height: 250px;
    background-color:#216fb1;
    border-radius: 28px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    
}

.title-box{
    margin: 0 auto;
    margin-top: 10px;
    font-weight: bold;
}

button{
    width: 75px;
    height: 25px;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    color: #216fb1;
    font-weight: bold;
    margin-bottom: 10px;
    border: none; 
    outline:none;

}

.title-box-exp-cliente{
    margin-left: 15px;
}

.bot-container{
    background-color: #2c99a3;
    height: 135px;
    margin-bottom: 85px;
    grid-area: bot;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-weight: bold;
    align-items: center;
    gap: 25px;
    
}

.bot-container-2{
    background-color:#216fb1;
    height: 175px;
    display: flex;
    grid-area: bot2;
    justify-content:space-around;
    color: white;
    font-weight: bold;
    align-items: center;
    gap: 25px;
    background: rgb(33,111,177);
    background: linear-gradient(43deg, rgba(33,111,177,1) 0%, rgba(44,153,163,1) 19%, rgba(33,111,177,1) 100%, rgba(255,255,255,1) 100%);
    
}

.logo{
    align-self: flex-start;
    margin-top: 25px;
    width: 105px;
}

.logos-rs{
    display: flex;
    gap: 8px;
}
.logos-rs img{
    width: 25px;
}

.footer-text h3{
    margin-left: 15px;
    margin-bottom: 10px;
}

.footer-text p{
    font-size: 14px;
}

.develop-name{
    color: white;
    height: 35px;
    grid-area: footer;
    background-color:#808080;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (min-width: 576px) { 
    .container{        
        grid-template-areas: 
        'header'
        'top'
        'med'
        'bot'
        'bot2'
        'footer';
    }
 }


@media (min-width: 768px) {  
    .container{        
        grid-template-areas: 
        'header header'
        'top top'
        'med med'
        'bot bot'
        'bot2 bot2'
        'footer footer';
    }
}









